<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; 2012 - <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved. Powered by <a target="_blank" href="https://hexo.io">Hexo</a>. Theme by <a target="_blank" href="http://louisbarranqueiro.github.io/tranquilpeak-hexo-theme/">tranquilpeak</a>
    </span>
</footer>
